<?xml version="1.0"?>

<launch>

    <!-- record bags -->
     <node pkg="rosbag" type="record" name="rosbag_record_GNM_fisheye_oak"
       args="record -o /workspace/run.bag
                       /odom
                       /tf
                       /camera/camera_info
                       /camera/image_raw"/>
</launch>
